<% layout('layouts/home') -%>

<div class="container text-center my-5">
    <div class="jumbotron">
        <h1 class="display-4">Introducing Whatup</h1>
        <p class="lead">Find Your Night Life</p>
        <hr class="my-4">
        <p>Constantly wondering what bars, clubs, or restaurants are actually good to go to on any given night can be a struggle. Especially when you are new to an area or there are a lot of venues to choose from. With Whatup you'll have access to a list of every local scene with a list of upcoming events, drink and food specials, and even a live photo feed from every location so you can see for yourself if it's the place you want to hit!</p>
        <a class="btn btn-primary btn-lg" href="/register" role="button">Get The App</a>
    </div>
</div> 

<div class="container text-center my-5" id="featuresSection">
        <div class="jumbotron">
          <h1 class="display-4">Features</h1>
          <div class="row justify-content-around">
            <div class="col-10 col-lg-6 mb-5">
              <p class="lead">Real Time View of Venue</p>
              <hr class="my-4">
              <p class="featureP">Every location on our app has a camera feed set up so you can see what the venue is like in real time! Whether you want a slam packed night club or a low key dive bar, you can see for yourself if the place you're hitting has what you want!</p>
              <a class="btn btn-primary btn-lg" href="/register" role="button">Get The App</a>
            </div>

            <div class="col-10 col-lg-6 mb-5">
              <p class="lead">Real Time Updates on Specials/Events</p>
              <hr class="my-4">
              <p class="featureP">Our list of local hot spots is easy to browse with filters so you can find the scene you're looking for. You can also add favorites for quick access every night. Each venue has a list of current drink and food specials, wait times (when available), upcoming events, and a live photo feed for you to check out!</p>
              <a class="btn btn-primary btn-lg" href="/register" role="button">Get The App</a>
            </div>
          </div>
        </div>
      </div> 


      <section class="accordion-section clearfix my-5" aria-label="Question Accordions">
  <div class="container" id="frequentQuestions">
  
    <h1 class ="display-4 text-center">Frequently Asked Questions </h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
        How often are new locations added to the app?
        </a>
      </h3>
      </div>
      <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
      <div class="panel-body px-3 mb-4">
        <p>We are working diligently with local owners to expand to as many locations as possible. Currently we are adding locations as often as every day!</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
        Are you coming to other cities?
        </a>
      </h3>
      </div>
      <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
      <div class="panel-body px-3 mb-4">
        <p>YES! We are based in Tallahassee FL but we have plans to expand throughout Florida by the end of the year.</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
        Is there a way for me to get into the live photo feed images?
        </a>
      </h3>
      </div>
      <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
      <div class="panel-body px-3 mb-4">
        <p>Absolutely! Our cameras have a visible countdown timer under them so you can see exactly when the perfect selfie moment happens!</p>
      </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
      <h3 class="panel-title">
        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
        How can I add my business to the platform?
        </a>
      </h3>
      </div>
      <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
      <div class="panel-body px-3 mb-4">
        <p>Contact us at admin@whatupmobile.com and we'll be in touch with information on how to get your business kit!</p>
      </div>
      </div>
    </div>
    </div>
  
  </div>
</section>