<!DOCTYPE html>
<html>
  <head>
    <title>Whatup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Whatup</h1>
    <p>Welcome to Whatup's Website</p>
  </body>
</html>
