<% layout('layouts/boilerplate') -%>

<div class="container text-center">
    <h1 class="display-4">Introducing Whatup</h1>
    <p class="lead">Find Your Night Life</p>
    <hr class="my-4">
</div>

<div class="jumbotron d-flex justify-content-center">
        <div id="map">

        </div>
        
        <script>
            mapboxgl.accessToken = "<%= mapboxToken %>";
            const venues = { features: <%- JSON.stringify(venues) %> };
        </script>
        <script src='/javascripts/allVenuesClusterMap.js'></script>
</div>